<section class="block container">
  <header class="block_header">
    <h2 class="block_heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, enim.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card_header">Card Title</header>
      <div class="card_body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
        assumenda?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <h2 class="block_heading">Heading</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, enim.</p>
</section>
