<div class="collapsible">
  <header class="collapsible_header">
    <h2 class="collapsible_heading">Item 1</h2>
    <svg class="icon icon--white collapsible_chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible_content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, nesciunt?
  </div>
</div>
<div class="collapsible">
  <header class="collapsible_header">
    <h2 class="collapsible_heading">Item 1</h2>
    <svg class="icon icon--white collapsible_chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible_content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, nesciunt?
  </div>
</div>
