<header class="block_header">
  <h2>Host on the Cloud to Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
  </p>
</header>
<section class="block container">
  <div class="grid grid--1x2 feature_container">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature--heading">Super Easy to Use</h3>
      <p class="feature--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
        dignissimos iure provident suscipit
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature--image_container">
      <img class="feature--image" src="images/easy@2x.webp" />
    </div>
  </div>
</section>

<section class="block container">
  <div class="grid grid--1x2 feature_container">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature--heading">Simply Fast Websites</h3>
      <p class="feature--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
        dignissimos iure provident suscipit
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature--image_container">
      <img class="feature--image" src="images/fast@2x.webp" />
    </div>
  </div>
</section>

<section class="block container">
  <div class="grid grid--1x2 feature_container">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature--heading">Wordpress Made Easy</h3>
      <p class="feature--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
        dignissimos iure provident suscipit
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature--image_container">
      <img class="feature--image" src="images/wordpress@2x.webp" />
    </div>
  </div>
</section>

<section class="block container">
  <div class="grid grid--1x2 feature_container">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature--heading">24/7 Expert Support</h3>
      <p class="feature--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
        dignissimos iure provident suscipit
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature--image_container">
      <img class="feature--image" src="images/support@2x.webp" />
    </div>
  </div>
</section>
