<footer class="block block--dark footer">
  <div class="container grid footer_sections">
    <div class="collapsible collapsible_expanded footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading block_heading footer_heading">
          Products
        </h2>
        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list__item"><a href="#">Website Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading block_heading footer_heading">
          Company
        </h2>
        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item"><a href="#">Affilliates</a></li>
          <li class="list__item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading block_heading footer_heading">
          Support
        </h2>
        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item"><a href="#">Knowledge Base</a></li>
          <li class="list__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading block_heading footer_heading">Domain</h2>
        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="list">
          <li class="list__item"><a href="#">Domain Checker</a></li>
          <li class="list__item"><a href="#">Domian Transfer</a></li>
          <li class="list__item"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </div>

    <div class="footer_brand">
      <img src="images/logo.svg" />
      <p class="footer_copyright">Copyright 2023 Mosh Hamedani</p>
    </div>
  </div>
</footer>
