<blockquote class="quote">
  <p>
    " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, sed
    harum dolore est totam praesentium, debitis adipisci vel alias odit ratione,
    optio quibusdam sequi asperiores? "
  </p>
  <footer>
    <div class="media">
      <div class="media_image">
        <svg class="icon icon--primary quote_line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media_body">
        <h3 class="media_title">John Smith</h3>
        <p class="media_description">Mosh Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
