<section class="block block--dark block--skewed-right control_panel">
  <h2 class="block_heading block_header">User-friendly Control Panel</h2>
  <div class="grid grid--1x2">
    <img class="showcase_image" src="/images/ipad.png" alt="ipad" />
    <div>
      <div class="media">
        <div class="media_image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media_body">
          <h3 class="media_title">Easy Start & Managed Updates</h3>
          <p class="media_text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
            aliquid iste tempore facilis illum excepturi eum, neque voluptates
            debitis repellat.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media_image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media_body">
          <h3 class="media_title">Staging, GIT & WP-CLI</h3>
          <p class="media_text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quia
            reiciendis quae fugiat omnis similique aperiam ex laudantium
            doloremque dolorum!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media_image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media_body">
          <h3 class="media_title">Dynamic Caching & More</h3>
          <p class="media_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            magnam maxime obcaecati quibusdam quasi enim dolore ipsam ullam
            neque officiis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
