<section class="block">
  <header class="block_header">
    <h2>What Our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      itaque.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial_image">
          <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon--small icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p>
            " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam,
            sed harum dolore est totam praesentium, debitis adipisci vel alias
            odit ratione "
          </p>
          <footer>
            <div class="media">
              <div class="media_image">
                <svg class="icon icon--primary quote_line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media_body">
                <h3 class="media_title">John Smith</h3>
                <p class="media_description">Mosh Company CEO</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
